{{#if showLandingPage}}

<div id="landing-page-plugin-container">

	<!-- Video -->
	<div id="media-main" class="grid-center pb-1">
    <div class="col-12_xs-12">
      
  
      <video autoplay="autoplay" controls muted loop
      style="width: 100%; max-height: 100%;">
        <source src="/plugins/OneDCU-Landing-Page-Plugin/files/ONE_DCU_5th_Draft.mp4" type="video/mp4">
      </video>

     

      <!--
      <div>
        <img class="media-100-width" src="/plugins/OneDCU-Landing-Page-Plugin/images/OneDCU_Web_Web Slider_900x365_BeHeard.png" />
      </div>

      <div class="no-display">
        <img class="media-100-width" src="/plugins/OneDCU-Landing-Page-Plugin/images/OneDCU_Web_Web Slider_900x365_general.png" />
      </div>
       -->

    </div>
  </div>

  <!-- Scrol down arrow -->
  <div class="grid-center pb-2">
    <div class="col-12 text-center">
      <div class="font-size-3 animated infinite bounce slower delay-3s">
        <a href="#additional-info" class="scrollable">
          {{d-icon 'chevron-down'}}
        </a>
      </div>
      <span class="pb-1 main-text-color">Please scroll down for more information</span>
    </div>
  </div>

    <!-- Clock -->
  <div id="clock-main" class="grid-center no-display main-text-color pb-6">
    
    <div class="col-12 grid-center">
      <!-- Days -->
      <div class="col text-center my-1" id="clock-main-days-col">
        <div class="px-1 py-1">
          <div id="clock-days-value" class="font-size-6 clock-time-value">
            00
          </div>
          <div class="font-size-1 clock-time-desc">
            Days
          </div>
        </div>
      </div>

      <!-- Hours -->
      <div class="col text-center my-1">
        <div class="px-1 py-1">
          <div id="clock-hours-value" class="font-size-6 clock-time-value">
            00
          </div>
          <div class="font-size-1 clock-time-desc">
            Hours
          </div>
        </div>
      </div>

      <!-- Minutes -->
      <div class="col text-center my-1">
        <div class="px-1 py-1">
          <div id="clock-minutes-value" class="font-size-6">
            00
          </div>
          <div class="font-size-1 clock-time-desc">
            Minutes
          </div>
        </div>
      </div>

      <!-- Seconds -->
      <div class="col text-center my-1">
        <div class="px-1 py-1">
          <div id="clock-seconds-value" class="font-size-6 clock-time-value">
            00
          </div>
          <div class="font-size-1 clock-time-desc clock-time-value">
            Seconds
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Additional Information -->
  <div id="additional-info" class="grid-center pb-1">
    <div class="col-6">
      
      <div class="custom-button-2">
        <a href="/plugins/OneDCU-Landing-Page-Plugin/files/9may.pdf" target="_blank" class="custom-button-link">
          Schedule for the 9th of May <span class="button-icon"> {{d-icon 'arrow-circle-right'}} </span>
        </a>
      </div>
      
    </div>

    <div class="col-6">
      
      <div class="custom-button-2">
        <a href="/plugins/OneDCU-Landing-Page-Plugin/files/10may.pdf" target="_blank" class="custom-button-link">
          Schedule for the 10th of May <span class="button-icon"> {{d-icon 'arrow-circle-right'}} </span>
        </a>
      </div>
      
    </div>

    <div class="col-12">
        <div class="custom-button-2">
          <a href="mailto:onedcu@dcu.ie" class="custom-button-link">
          Having trouble signing up or logging in?
          <br>
          Contact us at onedcu@dcu.ie
          <span class="button-icon"> {{d-icon 'arrow-circle-right'}} </span>
        </a>
        </div>
    </div>
  </div>
    
  <!-- Scrol down arrow -->
  <div class="grid-center pb-6">
    <div class="col-12 text-center">
      <div class="font-size-3 animated infinite bounce slower delay-3s">
        <a href="#events-main" class="scrollable">
          {{d-icon 'chevron-down'}}
        </a>
      </div>
    </div>
  </div>

	<!-- Events -->
	<div id="events-main" class="grid no-display pb-6">

		<div class="col-4_xs-12_sm-6">
      {{event-list events=liveEvents label="Now On"}}
    </div>

    
    <div class="col-4_xs-12_sm-6">
      {{event-list events=nextEvents label="Coming Up"}}
    </div>

    
    <div class="col-4_xs-12_sm-12">
      <div class="otherItemList">

        <!-- Placeeholder becausee of spacing -->
        <div class="eventListTitle" style="visibility: hidden;">
          <span class="listText">Placeholder</span>
        </div>

        <div id="media-slideshow" style="padding-top: 17px;">
          <!--<div>
            <img class="media-100-width" src="/plugins/OneDCU-Landing-Page-Plugin/images/marian.png" />
          </div>-->

          <div>
            <img class="media-100-width" src="/plugins/OneDCU-Landing-Page-Plugin/images/mapu.png" />
          </div>

          <div class="no-display">
            <img class="media-100-width" src="/plugins/OneDCU-Landing-Page-Plugin/images/nana.png" />
          </div>

          <div class="no-display">
            <img class="media-100-width" src="/plugins/OneDCU-Landing-Page-Plugin/images/curls.png" />
          </div>

          <div class="no-display">
            <img class="media-100-width" src="/plugins/OneDCU-Landing-Page-Plugin/images/brian.png" />
          </div>

          <div class="no-display">
            <img class="media-100-width" src="/plugins/OneDCU-Landing-Page-Plugin/images/beardy.png" />
          </div>

          <div class="no-display">
            <img class="media-100-width" src="/plugins/OneDCU-Landing-Page-Plugin/images/johnny.png" />
          </div>
        </div>
    
      </div>
    </div>
	</div>

</div>

{{/if}}